{% extends "base.html" %}

{% block content %}
<h2>Top Veterinarians in Belgaum</h2>
<ul>
    <li>
        <strong>V care speciality Pet hospital</strong><br>
        📱 +918088906090<br>
        <a href="https://www.google.com/maps/place/?q=place_id=ChIJl5fxAvlnvzsRrqYR-0WSyeg" target="_blank">
            View on Google Maps
        </a>
    </li>
    <br>
    <li>
        <strong>Soulmates Vet Hospital</strong><br>
        📱 +918314057274<br>
        <a href="https://www.google.com/maps/place/?q=place_id=ChIJ_6zdYbZhvzsRQFicPNgZa9A" target="_blank">
            View on Google Maps
        </a>
    </li>
    <br>
    <li>
        <strong>Paws Care and Heal Pet Clinic</strong><br>
        📱 +919483852691<br>
        <a href="https://www.google.com/maps/place/?q=place_id=ChIJicsUwOZlvzsR5lQLBr9Rmu0" target="_blank">
            View on Google Maps
        </a>
    </li>
    <br>
    <li>
        <strong>Wiggle & Waggle</strong><br>
        📱 +919019878108<br>
        <a href="https://www.google.com/maps/place/?q=place_id=ChIJYclqHHpnvzsRD4rQfGghnfk" target="_blank">
            View on Google Maps
        </a>
    </li>
    <br>
    <li>
        <strong>Dr PET Cure&Care</strong><br>
        📱 +919483834999<br>
        <a href="https://www.google.com/maps/place/?q=place_id=ChIJ6RExw0ZhvzsRik2_Vl2h-rY" target="_blank">
            View on Google Maps
        </a>
    </li>
</ul>
{% endblock %}